<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset=utf-8">
		<title>ESADB</title>
		<style>
			body {font: 12px Arial;}
			header {font: 20px Arial; padding: 5px;}
			td {padding: 2px;}
			th {text-align: left; font: 12px Arial;}
<!--			th {text-align: left; font-weight: bold;}
			button {font-weight: bold; width:100%; text-align: left;} -->
			button {font: 12px Arial; text-align: left;}
		</style>
	</head>
	<body>
		<header>АГЕНТСТВО ЭНЕРГЕТИЧЕСКИХ РЕШЕНИЙ</header>
		<form id="navigationform"><table>
			<tr>
				<td><button buttontype="submit" formmethod="get" formaction="{% url 'about'%}">О САЙТЕ</button></td>
				{% if user.is_authenticated %}
<!--					<td><button buttontype="submit" formmethod="get" formaction="/organization/">ОРГАНИЗАЦИИ</button></td>-->
					<td><button buttontype="submit" formmethod="get" formaction="/project/">ПРОЕКТЫ</button></td>
					<td><button buttontype="submit" formmethod="get" formaction="/einst/">ОБЪЕКТЫ</button></td>
<!--					<td><button buttontype="submit" formmethod="get" formaction="/equipment/">ОБОРУДОВАНИЕ</button></td>-->
					{% if user.is_staff %}
						<td><button buttontype="submit" formmethod="get" formaction="/admin/">ADMIN</button></td>
						<td><button buttontype="submit" formmethod="get" formaction="/staff/">STAFF</button></td>
					{% endif %}
					<td><button buttontype="submit" formmethod="get" formaction="{% url 'logout'%}?next={{request.path}}">ВЫЙТИ</button></td>
				{% else %}
					<td><button buttontype="submit" formmethod="get" formaction="{% url 'login'%}?next={{request.path}}">ВОЙТИ</button></td>
				{% endif %}
<!--				<td><button onClick="window.close()" />ЗАКРЫТЬ</button></td>-->
			</tr>
		</table></form>
		{% if user.is_authenticated %}
			<p>ПОЛЬЗОВАТЕЛЬ: {{user.get_username}} > ПРОЕКТ: {{projectname}} > ОБЪЕКТ: {{einstname}}</p>
			<p>КОНТЕКСТ: {{contextinfo}} </p>
		{% endif %}
		<p>СЕССИЯ: {{request.session.items}} </p>
		<table><tr>
			<td width="20%" valign="top">
			<table>
				{% for name, value in sessiondata.items%}
					<tr><td><input type="hidden" name="{{name}}" value="{{value}}" form="content" ></input></td></tr>
				{% endfor %}
				{% for key, value in contextmenu.items %}
					<tr><td><button type="submit" {{value}} form="content" >{{key}}</button></td></tr>
				{% endfor %}
				{% if is_filtered %}
					<tr><td>Фильтр</td></tr>
					<tr><td>Столбец:
						<select name="filterkey" form="content" >
							{% for key, value in filterkeylist.items %}
								{% if value == filterkey %}
									<option selected value="{{value}}">{{key}}</option>
								{% else%}
									<option value="{{value}}">{{key}}</option>
								{% endif%}
							{% endfor %}
						</select>
					</td></tr>
					<tr><td><input type="text" form="content" name="filtervalue" value="{{filtervalue}}"></input></td></tr>
					<tr><td><button type="submit" form="content" formmethod="get" formaction="">Применить</button></td></tr>
				{% endif %}
				{% if is_paginated %}
					<tr><td>Навигация</td></tr>
					<tr><td>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</td></tr>
					<tr><td><input type="number" form="content" formmethod="get" name="page" ></input></td></tr>
					<tr><td><button buttontype="submit" form="content" formmethod="get">Перейти</button></td></tr>
					<tr><td><button buttontype="submit" form="content" formmethod="get" name="page" value="1">Первая</button></td></tr>
					{% if page_obj.has_previous %}
						<tr><td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.previous_page_number }}">Предыдущая</button></td></tr>
					{% endif %}
					{% if page_obj.has_next %}
						<tr><td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.next_page_number }}">Следующая</button></td></tr>
					{% endif %}
					<tr><td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.paginator.num_pages }}">Последняя</button></td></tr>
				{% endif %}
			</table>
			</td>
			<td width="80%" valign="top">
				<form id="content" enctype="multipart/form-data">
					<table>
						{% block content %} {% endblock %}
					</table>
					{% csrf_token %} 
				</form>
			</td>
		</tr></table>
	</body>
</html>