<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>ESADB</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href= "{% static 'css/themify-icons.css' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1">
<!--					<img src="{% static 'img/favicon.png' %}"></img>	-->			
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
<!-- context menu -->
				</div>
				<div class="col-sm-9">
					<form id="navigationform">
						<div class="btn-group">
							<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="{% url 'about'%}">О САЙТЕ</button>
							{% if user.is_authenticated %}
								<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="/project/">ПРОЕКТЫ</button>
								<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="/einst/">ОБЪЕКТЫ</button>
								{% if user.is_staff %}
									<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="/admin/">ADMIN</button>
									<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="{% url 'staff' %}">STAFF</button>
								{% endif %}
								<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="{% url 'logout'%}?next={{request.path}}">ВЫЙТИ</button>
							{% else %}
								<button class="btn btn-basic" buttontype="submit" formmethod="get" formaction="{% url 'login'%}?next={{request.path}}">ВОЙТИ</button>
							{% endif %}
						</div>
					</form>
				</div>			
				<div class="col-sm-2">
					<div class="d-flex flex-row">
						<div class="p-2"><i class="ti-user"></i></div>
						{% if user.is_authenticated %}
							<div class="p-2">{{user.get_username}}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1">
				{%if contextmenu%}
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">
							<i class="ti-list"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							{% for key, value in contextmenu.items %}
								<button class="dropdown-item" type="submit" {{value}} form="content" >{{key}}</button>
							{%endfor%}
						</div>
					</div>
				{%endif%}
			</div>
			<div class="col-sm-10">
				<nav class="nav">
					<button type="button" class="btn outline-light" form="" formmethod="get"> 
						<i class="ti-list">  </i> 
					</button>
					<span class="navbar-text"> Проект: {{projectname}} </span>
					<button type="button" class="btn outline-light" form="" formmethod="get"> 
						<i class="ti-list">  </i> 
					</button>
					<span class="navbar-text"> Объект: {{einstname}} </span>
					<button type="button" class="btn outline-light" form="" formmethod="get"> <i class="ti-back-left"> </i> </button>
					<span class="navbar-text"> {{contextinfo}} </span>
				</nav>				
<!--		<p>СЕССИЯ: {{request.session.items}} </p> -->
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<form id="content" enctype="multipart/form-data">
						{% block content %} {% endblock %}
						{% csrf_token %} 
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
<!-- filter -->					
					{% if is_filtered %}
						<div class="btn-group">
							<select class="custom-select">
								{% for key, value in filterkeylist.items %}
									{% if value == filterkey %}
										<option selected value="{{value}}">{{key}}</option>
									{% else%}
										<option value="{{value}}">{{key}}</option>
									{% endif%}
								{% endfor %}
							</select>
							<input type="text" form="content" name="filtervalue" value="{{filtervalue}}"></input>
							<button class="btn btn-basic" type="submit" form="content" formmethod="get" formaction="">
								<i class="ti-search"> </i> 
							</button>
						</div>
					{%endif%}

				</div>
				<div class="col-sm-2">
<!-- pagination -->
					{% if is_paginated %}
						<div class="container-fluid">
							<ul class="pagination">
								<span class="btn btn-lite" } >{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
								<button class="btn btn-lite" buttontype="submit" form="content" formmethod="get" name="page" value="1"> 
									<i class="ti-angle-double-left"> </i> 
								</button>
								{% if page_obj.has_previous %}
									<button class="btn btn-lite" buttontype="submit" form="content" formmethod="get" name="page" 
										value="{{ page_obj.previous_page_number }}"> 
										<i class="ti-angle-left"></i>
								{% endif %}
								</button>
								<input type="number" class="form-control" size="3" form="content" formmethod="get" name="page" > </input>
								<button class="btn btn-lite" buttontype="submit" form="content" formmethod="get">
									<i class="ti-search"> </i> 
								</button>
								{% if page_obj.has_next %}
									<button class="btn btn-lite" buttontype="submit" form="content" formmethod="get" name="page" 
										value="{{ page_obj.next_page_number }}"> 
										<i class="ti-angle-right"> </i> 
									</button>
								{% endif %}
								<button class="btn btn-lite" buttontype="submit" form="content" formmethod="get" name="page" 
									value="{{ page_obj.paginator.num_pages }}"> 
									<i class="ti-angle-double-right"> </i> 
								</button>
							</ul>
						</div>	
					{% endif %}
				</div>
		</div>
	</body>
</html>