{% extends "base_generic.html" %}
{% block content %}
	<tr>
		<td>НАИМЕНОВАНИЕ: </td>
		<td>{{folder.name}}</td>
	</tr>
	<tr>
		<td>ДАТА: </td>
		<td>{{folder.date}}</td>
	</tr>
	<tr>
		<td>NextCloud by ESA ИНФО: </td> 
		<td>{{about}}</td>
	</tr>
	<tr>
		<td>NextCloud by ESA LINK: </td> 
		<td>
			<a href = "{{host}}{{folder_link}}" target = "blank">link</a>
		</td>
	</tr>
	<tr><td>
		{% for file in filelist %}
			<tr>
				<td>
					<input type="checkbox" name="filename" value="{{file.dirname}}/{{file.basename}}"></input>
				</td>
				<td>
					<a href = "{{host}}{{file.href}}" target = "blank">{{file.basename}}</a>
				</td>
			</tr>
		{% endfor%}
	<td></tr>
{% endblock %}


